---
layout: default
---

<div class="home">
  <div class="column block">
    {% for post in site.posts limit:1%}
      <div class="post">
        <h1><a href="{{ post.url }}/">{{ post.title }}</a></h1>
        {% if post.subtitle %}
          <h3>{{ post.subtitle }}</h3>
        {% endif %}
        <article class="post-content">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
          <a rel="full-article" href="{{post.url}}">Read on →</a>
        </article>
      </div>
    {% endfor %}
  </div>
  <div class="divider"></div>
  <div class="column block">
    <h2>General</h2>
    {% assign posts = site.categories["general"]%}
    <div class="index_posts">
      {% include index_posts.html %}
    </div>
  </div>
  <div class="column block">
    <h2>Information Technology</h2>
    {% assign posts = site.categories["it"]%}
    <div class="index_posts">
      {% include index_posts.html %}
    </div>
  </div>
</div>
