
{% comment %} Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}

{% if post.categories.size > 0 %}
  {% for post_category in post.categories %}
    {% if categoty %}{% break %}{% endif %}
    {% for data_category in site.data.categories %}
        {% if data_category.slug == post_category %}
          {% assign category = data_category %}
          {% break %}
        {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if categoty %}
    {% assign disqus_id = catogory.disqus_id %}
{% else %}
    {% assign disqus_id = 3329167 %}
{% endif %}

{% if site.disqus_short_name and page.comments != false %}
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
    var disqus_shortname = '{{ site.disqus_short_name }}';
    var disqus_identifier = '{{ site.url }}{{ page.url }}';
    var disqus_title = '{{ page.title }} | {{ site.title }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
    var disqus_category_id = '{{ disqus_id }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endif %}
