.classification {

    h2 {
        margin-bottom: 10px;

        span {
            color: rgba(100,100,100,.9);
            font-size: .8em;
        }
    }

    p {
        margin-bottom: 25px;
    }
}

.archives {

    .year {
        padding-top: 1.15em;
        margin-bottom: .3em;
        font-weight: normal;
        display: inline-block;
        position: relative;
        top: -1px;
        float: left;
    }

    article {
        /* padding-bottom: 1em; */
        margin-left: 4em;
        padding: 16px 0 0 72px;
        position: relative;

        h3 {
            margin-bottom: 0;
            font-weight: bold;
            font-size: 1.5em;
            font-family: 'PT Serif', Georgia, Times, 'Times New Roman', 'Songti SC', '\'Hiragino Mincho ProN\'', serif, Verdana, sans-serif;

            a {
                color: black;
            }
        }

        time {
            position: absolute;
            text-align: center;
            left: 1em;
            top: 1.4em;
        }

        footer {
            min-height: 1em;

            .subtitle {
                font-weight: 500;
            }
        }
    }

    h2 {
        margin: 0;
    }

}

.index_posts {

    article {
        /* padding-bottom: 1em; */
        margin-top: .3em;
        position: relative;

        h3 {
            display: inline;
            font-weight: normal;
            font-size: 1em;
            font-family: 'PT Serif', Georgia, Times, 'Times New Roman', 'Songti SC', '\'Hiragino Mincho ProN\'', serif, Verdana, sans-serif;

            a {
                color: black;
            }
        }

        time {
            margin-right: .7em;
        }
    }
}


.divider {
    margin-top: 2em;
}
